.vs
MedServicesBI/MedServicesOLTP/obj
MedServicesBI/MedServicesOLTP/bin
MedServicesBI/MedServicesDW/obj
MedServicesBI/MedServicesDW/bin
MedServicesBI/MedServicesETL/bin/
MedServicesBI/MedServicesETL/obj/
#MedServicesBI/MedServicesETL/*.dtsx
*.dbmdl
*.jfm